

  
.container {
    max-width: 1100px; /* Adjust this value according to your design preference */
    margin: 0 auto; /* Centers the container */
    padding: 70px 20px; /* Adds some space around the content */
  }

body {
    background-color: black; /* Light black (dark gray) */
}

.triple-block {
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
    padding-left: 10px;
    padding-bottom: 40px;
  }
  
.block {
    flex: 1;  /* Each block will take equal width */
    height: 300px;
    padding: 0; /* Add some padding inside each block */
    margin: 0 10px; /* Add some margin between blocks */
    background-color: #f0f0f0; /* Just an example color to distinguish the blocks */
    color: black; /* Text color */
    text-align: center; /* Center the text horizontally */
    
}

/* If you want to remove the margin on the first and last block for a more symmetric look */
.block:first-child {
    margin-left: 0;
    background-color: black;
}

.block:last-child {
    margin-right: 0;
}

.block-title, .block-subtitle {
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes any padding */
    text-align: left; /* Ensures text aligns to the left */
  }

.block-title {
    font-size: 45px; /* Large text */
    font-weight: 500; /* Make it stand out */
    color: White; /* Dark text color, adjust as needed */
    margin-bottom: 5px; /* Space between the title and subtitle */
  }
  
.block-subtitle {
    font-size: 18px; /* Standard or slightly smaller text */
    color: gray; /* Lighter text color for contrast, adjust as needed */

}
.cube-icon {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    width: 45px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
  }

.dark-button {
    display: block;
    padding: 10px 10px; /* Top and bottom padding | Left and right padding */
    background-color: black; /* Background color */
    border: 1px solid #333; /* Dark gray border, adjust color as needed */
    border-radius: 12px; /* Rounded corners */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline from text if using an <a> element */
    font-size: 15px; /* Text size */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect, optional */
    
}
  
  /* Optional: Add a hover effect */
.dark-button:hover {
    background-color: #222; /* Slightly lighter black on hover */
}

.user-icon{
    width: 17px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    margin-left: 5px; /* Adds some space between the text and the icon */
    
}
  

  